<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherIPed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46ECCB071CC8CE6600891E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46ECCB201CC8CE6600891E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46ECCB2B1CC8CE6600891E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
